<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
  </head>
  <body>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td>Category Id</td>
          <td>Category Name</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of categories" (click)="selectCategory(cat)">
          <td>{{ cat.categoryId }}</td>
          <td>{{ cat.categoryName }}</td>
        </tr>
      </tbody>
    </table>

    <product-data [categoryName]="categotyName"></product-data>
  </body>
</html>
