<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Page</title>
  </head>
  <body>
    <h2>Login Component</h2>
    <div class="container" style="margin-top: 50px">
      <div>
        <span style="color: red">{{message}}</span>
      </div>

    <form name="frmLogin" [formGroup] ="frmLogin" (submit)="signIn()">
      <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" name="UserName" class="form-control" formControlName="UserName" />

        <div *ngIf="frmLogin.controls.UserName.dirty && !frmLogin.controls.UserName.valid" class="alert alert-danger" >
            <p *ngIf="frmLogin.controls.UserName.errors.required">Username is must</p>
       </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="Password" class="form-control" formControlName="Password" />
        <div *ngIf="frmLogin.controls.Password.dirty && !frmLogin.controls.Password.valid"  class="alert alert-danger" >
            <p *ngIf="frmLogin.controls.Password.errors.required">Password is must</p>
        </div>
      </div>
      <div class="form-group">
        <input type="button" class="btn btn-success" value="SignIn" (click)="signIn()"/>&nbsp;
        <input type="button" class="btn btn-danger" value="Cancel" (click)="cancel()"/>
      </div>
    </form>
    </div>
  </body>
</html>
